<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script><!-- axios cdn -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
	body { background-color: #ffffff; }
	#second>h2 {margin: auto; text-align: center; color: blue;}
	#tid{border: 1px blue; margin: auto; text-align: center; border-collapse: collapse;}
	td{ border: 1px solid green;}
</style>
</head>
<body>
	<div id="second">
		<h2>ENCORE SAFE FOOD</h2>
	</div>
	<div id="app">
		<section v-if="errored">
			<p>Error In Axios Transport...</p>
		</section>
		
		<section v-else>
			<div v-if="loading">Loading...</div>
			<table id="tid">
				<thead>
					<tr style="border: 1px solid green;">
						<th>분류</th><th>이름</th><th>이미지</th>
					</tr>
				</thead>
				<template v-for="f in info">
					<tbody>
						<tr>
							<td>{{f.productGb}}</td>
							<td>{{f.prdlstNm}}</td>
							<td><img :src="f.imgurl1" style="width: 60px; height: 60px;"></td>
						</tr>
					</tbody>
				</template>
			</table>
		</section>
	</div>
</body>
<script>
	new Vue({
		el: "#app",
		// data: {} 정적인 데이터를 바인딩 할 때 사용하는 기법
		// data() 동적인, 반응형 데이터를 바인딩 할 때 사용하는 기법
		data() {
			return {
				info: null,
				errored: false,
				loading: true
			}
		},
		// axios 기술...mounted()에서 해줘야한다...
		mounted() {
			axios
				.get("./food.json")
				.then(response => (this.info = response.data))
				.catch(error => {
					console.log(error);
					this.errored = true;
				})
				.finally(() => this.loading = false);
		}
	});
</script>
</html>