<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 지금까지 배운 모든 것을 여기 한 곳에 총 집결
	1. CRUD
	2. Dynamic Query
	3. Static Query
	4. 쿼리문 재사용
	5. ResultMap
	6. LIKE 연산자와 와일드카드(%, _)
 -->
<mapper namespace="Book10">
	<!-- select문에서만 사용되는 결과맵, 컬럼명과 필드명이 다를 경우 반드시 필요하다. -->
	<resultMap type="book" id="bookSelectRM">
		<result property="author" column="author"/>
		<result property="catalogue" column="catalogue"/>
		<result property="currency" column="currency"/>
		<result property="description" column="description"/>
		<result property="isbn" column="isbn"/>
		<result property="nation" column="nation"/>
		<result property="price" column="price"/>
		<result property="publishDate" column="publish_date"/>
		<result property="publisher" column="publisher"/>
		<result property="title" column="title"/>
	</resultMap>
	
	<!-- SQL 구문의 재사용...id 잘 만들어야 함 -->
	<sql id="select-book">
		SELECT
		author, catalogue, currency, description, isbn, nation, price, publish_date, publisher, title
		FROM book
	</sql>
	<sql id="orderby-isbn-desc">
		ORDER BY isbn DESC
	</sql>
	
	<insert id="addBook" parameterType="book">
		INSERT
		INTO book
		(author, catalogue, currency, description, isbn, nation, price, publish_date, publisher, title)
		VALUES
		(#{author}, #{catalogue}, #{currency}, #{description}, #{isbn}, #{nation}, #{price}, #{publishDate}, #{publisher}, #{title})
	</insert>
	<update id="updateBook" parameterType="book">
		UPDATE
		book
		SET
		author=#{author}, 
		catalogue=#{catalogue}, 
		currency=#{currency}, 
		description=#{description}, 
		nation=#{nation}, 
		price=#{price}, 
		publish_date=#{publishDate}, 
		publisher=#{publisher}, 
		title=#{title}
		WHERE isbn=#{isbn}
	</update>
	<delete id="removeBook" parameterType="string">
		DELETE
		FROM book
		WHERE isbn=#{VALUE}
	</delete>
	
	<!-- 정적쿼리 -->
	<select id="getBook" parameterType="book" resultMap="bookSelectRM">
		<include refid="select-book"/>
		WHERE isbn=#{isbn}
	</select>
	
	<select id="getBookList" parameterType="book" resultMap="bookSelectRM">
		<include refid="select-book"/>
		<where>
			<if test="isbn!=null">
				isbn LIKE #{isbn}
			</if>
			<if test="title!=null">
				OR title LIKE #{title}
			</if>
			<if test="price!=0">
				OR price>#{price}
			</if>
			<if test="publishDate!=null">
				OR publish_date LIKE #{publishDate} '%'
			</if>
			<if test="nation!=null">
				OR nation LIKE #{nation}
			</if>
		</where>
		<include refid="orderby-isbn-desc"/>
	</select>
</mapper>