<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>v-for와 함께 v-if이용하기</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<label>ENCORE 각 지구별로 개설된 클래스 개수</label>
		<input type="number" v-model.number="number">
		<h2>객체 배열 - 번호, 내용 출력</h2>
		<ul>
			<li v-for="(encore, i) in encores" v-if="encore.count===number">
				{{i + 1}}, {{encore.name}}, {{encore.count}}개 클래스
			</li>
		</ul>
	</div>
</body>
<script>
	new Vue({
		el: "#app",
		data: {
			encores: [
				{name: "영등포구", count: 3},
				{name: "남부지구", count: 5},
				{name: "서초지구", count: 7}
			],
			number: 0
		}
	});
</script>
</html>